<div class="agileheader" id="agileitshome">

  <!-- Navigation -->
  <nav class="navbar navbar-default w3ls navbar-fixed-top">
    <div class="container">
      <div class="navbar-header wthree nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand agileinfo" href="<%= items_path %>"><span>KAPOOR</span> HANDLOOMS</a>
        <ul class="w3header-cart">
          <li class="wthreecartaits">
          <li class="wthreecartaits">
            <span class="my-cart-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge badge-notify my-cart-badge"></span></span>
          </li>
        </ul>
      </div>

      <!--================ Header Dropdown ================ -->


    </div>
  </nav>
  <!-- //Navigation -->

  <!-- //Header-Slider -->
</div>
<div class="wthreeabout">
  <div class="about-us-grids">
    <div class="col-md-6 about-us-grid about-us-images">
      <div class="col-md-6 about-us-image about-us-image1">
        <%= image_tag 'about_us/about-image-1.jpg' %>
      </div>
      <div class="col-md-6 about-us-image about-us-image2">
        <%= image_tag 'about_us/about-image-2.jpg' %>
      </div>
      <div class="col-md-6 about-us-image about-us-image3">
        <%= image_tag 'about_us/about-image-3.jpg' %>
      </div>
      <div class="col-md-6 about-us-image about-us-image4">
        <%= image_tag 'about_us/about-image-4.jpg' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-6 about-us-grid about-us-text">
      <h1>ABOUT US</h1>

      <p>Established in 1980, KAPOOR HANDLOOM INDUSTRIES is a manufacturer

        exporters of all kinds of handloom products. We specialize in the production

        of Rugs, Cushion Covers, Bed Spreads, Table Cloth, Curtains, Napkins, Door

        Mats, Etc. and have developed into one of the largest export oriented

        manufacturers in our market.

        With a production capacity of catering any size of orders, our output scale

        and technology provide us with high market competitiveness. Equipped with

        five production lines all of which are in excellent operational condition and

        having dual quality checks, we are currently exporting 100% of our

        products to abroad.

        Over the past decade we have gained an excellent reputation for our high

        quality products, competitive prices, fast delivery times and the dedicated

        service that we have been providing to our customers.

        Adhering to the principle of “Pursuit of Perfection” we wish to form business

        relationships with customers all over the world.</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //About-Us -->



<!-- Be-Yourself -->
<div class="aitsyourself">
  <div class="aitsyourself-grids">

    <div class="col-md-5 aitsyourself-grid aitsyourself-grid1">

    </div>

    <div class="col-md-3 aitsyourself-grid aitsyourself-grid2">
      <h4>“Skilled and supremely talented workforce acts as the backbone of

        our company. Every member of our team weaves his / her creativity

        into each and every piece of handloom.”</h4>
    </div>

    <div class="col-md-4 aitsyourself-grid aitsyourself-grid3">

    </div>
    <div class="clearfix"></div>

  </div>
</div>
<!-- //Be-Yourself -->



<!-- Commercial -->
<div class="aitscommercial">

  <div class="col-md-6 aitscommercial-grid aitscommercial-grid1">
    <h2>Commitment</h2>

    <p>Quality is ultimately a question of customer satisfaction. Good

      Quality increases the value of a product or service, establishes

      brand name, and builds up good reputation for the exporter, which

      in turn results into consumer satisfaction, high sales and foreign

      exchange for the country. The perceived quality of a product is the

      result of a number of aspects, which together help achieve the

      desired level of satisfaction for the customer. Therefore we at

      Kapoor Handloom Industries ensure quality control in terms of

      products, pre-sales service, posts -sales service, delivery, pricing,

      etc. so that we could cater our customers well & fulfill the

      commitments..</p>

  </div>

  <div class="col-md-6 aitscommercial-grid aitscommercial-grid2">
    <%= image_tag 'about_us/about-image-7.jpg' %>
  </div>
  <div class="clearfix"></div>

  <div id="small-dialog4" class="mfp-hide agileinfo">
    <div class="pop_up">
      <iframe src="https://player.vimeo.com/video/184401441"></iframe>
    </div>
  </div>

</div>
<!-- //Commercial -->



<!-- Accessories -->
<div class="w3laccessoriesaits">
  <div class="col-md-6 w3laccessoriesaits-grids w3laccessoriesaits-grids1">
    <div class="w3laccessoriesaits-grid w3laccessoriesaits-grid1">
      <div class="grid">
        <figure class="effect-apollo">
          <%= image_tag 'about_us/about-image-8.jpg' %>
          <figcaption></figcaption>
        </figure>
      </div>
      <h4>STITCHING HALL</h4>

      <p>Lorem Ipsum Dolor Site Amet</p>
    </div>
  </div>
  <div class="col-md-6 w3laccessoriesaits-grids w3laccessoriesaits-grids2">
    <div class="w3laccessoriesaits-grid w3laccessoriesaits-grid2">
      <div class="grid">
        <figure class="effect-apollo">
          <%= image_tag 'about_us/about-image-9.jpg' %>
          <figcaption></figcaption>
        </figure>
      </div>
      <h4>DESIGNING</h4>

      <p>Lorem Ipsum Dolor Site Amet</p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //Accessories -->



<!-- Shoes -->
<div class="w3lsshoesaits">
  <div class="w3lsshoesaits-info">
    <h3>MARKET REACH</h3>

    <p>To ensure a wider market reach for the existing & new products, an

      extensive distribution infrastructure has been created with through

      4 manufacturing units and skilled work force. We are also very

      active on online business and promotions through the portals of

      Google.

      Presently we are Catering the markets all over the globe and

      particularly in France, USA, Japan, Spain just to name a few.</p>

  </div>
</div>
<!-- //Shoes -->



<!-- New-Fashions -->
<div class="agilenwew3lsfashions">
  <div class="container">

    <h3>Contact Us</h3>
    <!--<h4>Quality is ultimately a question of customer satisfaction. Good-->

    <!--Quality increases the value of a product or service, establishes-->

    <!--brand name, and builds up good reputation for the exporter, which-->

    <!--in turn results into consumer satisfaction, high sales and foreign-->

    <!--exchange for the country. The perceived quality of a product is the-->

    <!--result of a number of aspects, which together help achieve the-->

    <!--desired level of satisfaction for the customer. </h4>-->
    <h4>Durga Nagar, Hissar Road, Ambala, <br/>Haryana 134003<br/>
      Call us: +919315470305, +919315601723
    </h4>
  </div>
</div>
<!-- //New-Fashions -->



<!-- Newsletter -->



<!--<div id="contact-page" class="container">-->
<!--<div class="bg">-->
<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<h2 class="title text-center">About <strong>Us</strong></h2>-->

<!--<div id="gmap" class="contact-map">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-8">-->
<!--<div class="contact-form">-->
<!--<iframe width="100%" height="100%"  src="http://maps.google.com/maps?q=30.3584,76.7632&z=17&output=embed"></iframe>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<div class="contact-info">-->
<!--<h2 class="title text-center">Contact Info</h2>-->
<!--<address>-->
<!--<p>Kapoor Handlooms</p>-->

<!--<p>Durga Nagar, Ambala</p>-->

<!--<p>Mobile: +2346 17 38 93</p>-->

<!--<p>Fax: 1-714-252-0026</p>-->

<!--<p>Email: kapoorhandlooms@gmail.com</p>-->
<!--</address>-->
<!--<div class="social-networks">-->
<!--<h2 class="title text-center">Handlooms</h2>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="https://www.facebook.com/Indianrugkapoorhandlooms"><i class="fa fa-facebook"></i></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://twitter.com/kapoorhandlooms"><i class="fa fa-twitter"></i></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://www.youtube.com/watch?v=iQovDqb22Ws"><i class="fa fa-youtube"></i></a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<script>-->
<!--//    $(function(){-->
<!--//        $('.contact-form').height($('.contact-info').height());-->
<!--//    })-->
<!--</script>-->


<style>
    .agilenwew3lsfashions .container {
        margin-bottom: 250px;
    }

    a.agileinfo {
        cursor: pointer;
    }
</style>