<header id="header"><!--header-->

  <!-- ============================ Header Top ==================================-->
  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <%= link_to items_path do %>
              <%= image_tag 'header/25-years-in-business.png', class: 'logo_icon' %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <% if current_user %>
                <ul class="nav navbar-nav">
                  <li class="cart_container">
                    <%= link_to user_cart_path do %>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <% end %>
                    <span id="cart_item_count"></span>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete, title: 'Logout' do %>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <% end %>
                  </li>
                </ul>
            <% end %>
          </div>
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--======================== Header middle Start ==============================================-->
  <% unless current_user %>
      <div class="header-middle"><!--header-middle-->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="logo pull-left">
                <!--<a href="index.html"><img src="images/home/logo.png" alt=""/></a>-->
              </div>

              <div class="shop-menu pull-left">
                <ul class="nav navbar-nav">
                  <!--<li><a href=""><i class="fa fa-user"></i> Account</a></li>-->
                  <!--<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>-->
                  <!--<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>-->
                  <!--<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>-->
                  <li><a href="login.html" class="active"><i class="fa fa-id-card-o"></i> About us</a></li>
                </ul>
              </div>


              <div class="btn-group pull-right">
                <!--<div class="btn-group">-->
                <!--<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">-->
                <!--USA-->
                <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="">Canada</a></li>-->
                <!--<li><a href="">UK</a></li>-->
                <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                <!--<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">-->
                <!--DOLLAR-->
                <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="">Canadian Dollar</a></li>-->
                <!--<li><a href="">Pound</a></li>-->
                <!--</ul>-->
                <!--</div>-->
              </div>
            </div>
            <div class="col-sm-8">
              <!--<div class="shop-menu pull-right">-->
                <!--<ul class="nav navbar-nav">-->
                  <!--&lt;!&ndash;<li><a href=""><i class="fa fa-user"></i> Account</a></li>&ndash;&gt;-->
                  <!--&lt;!&ndash;<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>&ndash;&gt;-->
                  <!--&lt;!&ndash;<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>&ndash;&gt;-->
                  <!--&lt;!&ndash;<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>&ndash;&gt;-->
                  <!--<li><a href="login.html" class="active"><i class="fa fa-lock"></i> About us</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <!-- ============================ Header Bottom ==================================-->
  <% if current_user %>
      <div class="header-bottom"><!--header-bottom-->
        <div class="container">
          <div class="row">
            <div class="col-sm-9">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="mainmenu pull-left">
                <!--<ul class="nav navbar-nav collapse navbar-collapse">-->
                <!--<li><%#= link_to 'Home', items_path %></li>-->
                <!--<li><a href="index.html" class="active">Home</a></li>-->
                <!--<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>-->
                <!--<ul role="menu" class="sub-menu">-->
                <!--<li><a href="shop.html">Products</a></li>-->
                <!--<li><a href="product-details.html">Product Details</a></li>-->
                <!--<li><a href="checkout.html">Checkout</a></li>-->
                <!--<li><a href="cart.html">Cart</a></li>-->
                <!--<li><a href="login.html">Login</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="contact-us.html">Contact</a></li>-->
                <!--</ul>-->
              </div>
            </div>
            <!--<div class="col-sm-3">-->
            <!--<div class="search_box pull-right">-->
            <!--<input type="text" placeholder="Search"/>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
  <% end %>
  <!--/header-bottom-->
</header><!--/header-->

<script>
    $('#cart_item_count').html('<%= Cart.count %>');
</script>
<style>
    span#cart_item_count {
        position: absolute;
        left: 26px;
        top: 1px;
    }

    .logo_icon {
        height: 50px;
    }
</style>