<header id="header"><!--header-->

  <!-- ============================ Header Top ==================================-->
  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <%= link_to items_path do %>
              <%= image_tag 'header/site_logo.jpg', class: 'logo_icon' %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <% if current_user %>
                <ul class="nav navbar-nav">
                  <li class="cart_container">
                    <%= link_to user_cart_path do %>
                        <i class="fa fa-shopping-cart" aria-hidden="true" title="Go to cart"></i>
                    <% end %>
                    <span id="cart_item_count"></span>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete, title: 'Logout' do %>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <% end %>
                  </li>
                </ul>
            <% end %>
          </div>
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to about_us_path do %>
                    <i class="fa fa-address-book-o"></i>
                <% end %>
              </li>
              <li><a href="https://www.facebook.com/Indianrugkapoorhandlooms"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/kapoorhandlooms"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/naresh-kapoor-b8941440"><i class="fa fa-linkedin"></i></a></li>
              <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header><!--/header-->

<script>
    $('#cart_item_count').html('<%= Cart.count %>');
</script>
<style>
    span#cart_item_count {
        position: absolute;
        left: 26px;
        top: 1px;
    }

    .logo_icon {
        height: 35px;
        /*width: 50px;*/
    }
</style>