<section id="slider"><!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <!-- ====================================================================================-->
        <!-- ============================= Carousel =============================================-->
        <!-- ====================================================================================-->

        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
            <li data-target="#slider-carousel" data-slide-to="3"></li>
            <li data-target="#slider-carousel" data-slide-to="4"></li>
            <li data-target="#slider-carousel" data-slide-to="5"></li>
            <li data-target="#slider-carousel" data-slide-to="6"></li>
          </ol>

          <div class="carousel-inner">
            <!--====================== Image 1 ======================================= -->
            <div class="item active">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>India's most reputed manufacturer and supplier of home textiles to global retailers</h4>

                <p>Kapoor Handlooms is one of the well- known companies engaged in offering finest quality bed sheets,
                  curtains,
                  bed covers and pillow covers.. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image1.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>

            <!--====================== Image 2 ======================================= -->
            <div class="item">
              <div class="col-sm-8">
                <%= image_tag 'login/image2.JPG', class: 'girl img-responsive banner_image' %>
              </div>
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>Best designs in the market available with Kapoor Exports</h4>

                <p>If you the passion of decorating your house with colorful cushions, bed sheets,
                  pillows then we the best destination place to come. </p>
              </div>
            </div>

            <!--====================== Image 3 ======================================= -->
            <div class="item">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>In eye soothing colors, you can buy entire kinds of upholstery items and that too, at feasible
                  rates</h4>

                <p>We are one of the leading manufacturer of handloom products having highly experienced,
                  talented & devoted team that provides tasteful designs & colors with uncomparable quality and
                  service. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image3.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>
            <!--====================== Image 4 ======================================= -->
            <div class="item">
              <div class="col-sm-8">
                <%= image_tag 'login/image4.JPG', class: 'girl img-responsive banner_image' %>
              </div>
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>We also keep a good stock of designer materials, which are made from good fabrics and show durable
                  properties.</h4>

                <p>We offer pillows in different sizes that are filled with buckwheat and foam. </p>
              </div>
            </div>
            <!--====================== Image 5 ======================================= -->
            <div class="item">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>We offer high- rate Bed Sheets which are stuffed with highly resilient materials.</h4>

                <p>With our wide experience and market expertise, we have been able to garner goodwill of a large
                  number of clients.. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image5.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>
            <!--====================== Image 6 ======================================= -->
            <div class="item">
              <div class="col-sm-8">
                <%= image_tag 'login/image6.JPG', class: 'girl img-responsive banner_image' %>
              </div>
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>Our objective is to offer total customer satisfaction to the clients in terms of quality,
                  performance, price, and timely delivery.</h4>

                <p>Consequently, we are reckoned as one of the credible Home Furnishing Textiles Exporters based
                  in India. </p>
              </div>
            </div>
            <!--====================== Image 7 ======================================= -->
            <div class="item">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h4>Best designs in the market available with Kapoor Exports</h4>

                <p>From initial stages of production to packaging, our experienced staff & in-house departments like
                  Designing, Manufacturing, Stitching, Packaging, Quality Control works in close coordination to give
                  our clients the best quality and timely deliveries. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image7.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>
          </div>

          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section><!--/slider-->


<!-- ====================================================================================-->
<!-- ============================= Login ================================================-->
<!-- ====================================================================================-->

<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 login_handloom">
        <%= image_tag 'login/handloom.png.gif' %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="login-form"><!--login form-->
          <h2>Login to your account</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email, placeholder: 'Email Address' %>
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
              <span><input type="checkbox" class="checkbox">Keep me signed in</span>
              <button type="submit" class="btn btn-default">Login</button>
          <% end %>
        </div>
        <!--/login form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<style>
    img.girl {
        opacity: 0.9;
        filter: alpha(opacity=50);
    }
</style>