<section id="slider"><!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <!-- ====================================================================================-->
        <!-- ============================= Carousel =============================================-->
        <!-- ====================================================================================-->

        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
            <li data-target="#slider-carousel" data-slide-to="3"></li>
            <li data-target="#slider-carousel" data-slide-to="4"></li>
            <li data-target="#slider-carousel" data-slide-to="5"></li>
            <li data-target="#slider-carousel" data-slide-to="6"></li>
          </ol>

          <div class="carousel-inner">
            <!--====================== Image 1 ======================================= -->
            <div class="item active">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best of the industry standards products</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image1.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>

            <!--====================== Image 2 ======================================= -->
            <div class="item">
              <div class="col-sm-8">
                <%= image_tag 'login/image2.JPG', class: 'girl img-responsive banner_image' %>
              </div>
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best designs in the market available with Kapoor Exports</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
            </div>

            <!--====================== Image 3 ======================================= -->
            <div class="item">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best designs in the market available with Kapoor Exports</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image3.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>
            <!--====================== Image 4 ======================================= -->
            <div class="item">
              <div class="col-sm-8">
                <%= image_tag 'login/image4.JPG', class: 'girl img-responsive banner_image' %>
              </div>
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best designs in the market available with Kapoor Exports</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
            </div>
            <!--====================== Image 5 ======================================= -->
            <div class="item">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best designs in the market available with Kapoor Exports</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image5.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>
            <!--====================== Image 6 ======================================= -->
            <div class="item">
              <div class="col-sm-8">
                <%= image_tag 'login/image6.JPG', class: 'girl img-responsive banner_image' %>
              </div>
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best designs in the market available with Kapoor Exports</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
            </div>
            <!--====================== Image 7 ======================================= -->
            <div class="item">
              <div class="col-sm-4">
                <h1><span>Latest </span>Doormats</h1>

                <h2>Best designs in the market available with Kapoor Exports</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. </p>
              </div>
              <div class="col-sm-8">
                <%= image_tag 'login/image7.JPG', class: 'girl img-responsive banner_image' %>
              </div>
            </div>
          </div>

          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section><!--/slider-->


<!-- ====================================================================================-->
<!-- ============================= Login ================================================-->
<!-- ====================================================================================-->

<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 login_handloom">
        <%= image_tag 'login/handloom.png.gif' %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="login-form"><!--login form-->
          <h2>Login to your account</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email, placeholder: 'Email Address' %>
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
              <span><input type="checkbox" class="checkbox">Keep me signed in</span>
              <button type="submit" class="btn btn-default">Login</button>
          <% end %>
        </div>
        <!--/login form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<style>
    img.girl {
        opacity: 0.6;
        filter: alpha(opacity=50);
    }
</style>