<div class="col-sm-4" id="<%= sub_category.id %>">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= link_to item_path(item) do %>
            <%= image_tag item.item_variants.present? ? item.item_variants.first.item_image : 'sample_item.jpeg', class: 'index_item' %>
            <h2><%= item.name %></h2>

            <!--<p><%#= item.category.name %></p>-->
        <% end %>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2><%= item.name %></h2>

          <p><%= item.category.name %></p>
          <%= link_to item_path(item), class: 'btn btn-default add-to-cart' do %>
              <i class="fa fa-shopping-cart"></i>View Details
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>