<div class="col-sm-3" id="<%= item.id %>">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= link_to item_path(item) do %>
            <%#= image_tag item.item_variants.present? ? item.item_variants.first.item_image : 'sample_item.jpg', class: 'index_item' %>
            <%= image_tag item.images.present? ? item.images.first.avatar.url : 'sample_item.jpg', class: 'index_item' %>
            <h6><%= truncate(item.name, length: 30) %></h6>

            <p><%= item.category.name %></p>
        <% end %>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h4><%= item.name %></h4>

          <p><%= item.category.name %></p>

          <p>
            <span class="item_index_variants_count" title="<%= item.sizes.uniq.count %> sizes">
                <i class="fa fa-hashtag" aria-hidden="true"></i><%= item.sizes.uniq.count %>
            </span>
            <span class="item_index_variants_count" title="<%= item.colors.uniq.count %> colors">
                <i class="fa fa-clone" aria-hidden="true"></i><%= item.colors.uniq.count %>
            </span>
          </p>
          <%= link_to item_path(item), class: 'btn btn-default add-to-cart' do %>
              <i class="fa fa-shopping-cart"></i>View Details
          <% end %>

          <%#= social_share_button_tag(item.name,
                                      :image => item.item_variants.first.item_image,
                                      desc: item.description) %>
        </div>
      </div>
    </div>
  </div>
</div>
