<section class="item_show_section">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-3">-->
      <!--<div class="left-sidebar">-->
      <!--<div class="panel-group category-products" id="accordian">-->
      <%#= render partial: 'categories/categories' %>
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-sm-12 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <%= image_tag asset_path(@item.item_variants.present? ? @item.item_variants.first.item_image : 'sample_item.jpeg') %>
            </div>
          </div>
          <div class="col-sm-7">
            <%= form_for @cart, url: user_cart_path(item_id: @item.id), method: :post, remote: true do |f| %>
                <div class="product-information"><!--/product-information-->
                  <h2><%= @item.name %></h2>

                  <p><%= @item.description %></p>

                  <div class="item_variant_container">
                    <div class="item_variant_container color_container">
                      <%= render partial: 'items/color_selection',
                                 locals: {options: @item.item_variants.collect { |x| [x.color.name.capitalize, x.color.id] }.uniq} %>
                    </div>
                    <div class="item_variant_container size_container">
                      <%= render partial: 'items/size_selection',
                                 locals: {options: []} %>
                    </div>
                  </div>
                  <div class="item_actions_container">
                    <span>
                      <%= f.number_field :quantity, value: 1 %>
                      <%= button_tag(class: "btn btn-fefault cart") do %>
                            <i class="fa fa-shopping-cart"></i>Add to cart
                      <% end %>
                      <%= link_to show_user_cart_path, class: "btn btn-fefault cart" do %>
                          <i class="fa fa-shopping-cart"></i>
                              Go to cart
                      <% end %>
                    </span>
                  </div>
                  <p class="item_variant_material"><b>Material:</b> <%= @item.item_variants.first.material.name.capitalize if @item.item_variants.first.material %></p>

                  <p class="item_variant_brand"><b>Brand:</b> <%= @item.item_variants.first.brand.name.capitalize if @item.item_variants.first.brand %></p>

                  <p><b>*</b> Item can be prepared and provided for the custom sizes requested.</p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

</style>
<script>
    $('.selections').on('change', function () {
        $.ajax({
            url: '<%= item_variant_selection_path(@item) %>?color=' + $('.color_selection').val(),
            dataType: 'script',
            method: 'POST'
        });
    });
</script>