<section>
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-3">-->
      <!--<div class="left-sidebar">-->
      <!--<div class="panel-group category-products" id="accordian">-->
      <%#= render partial: 'categories/categories' %>
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-sm-12 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <%= image_tag @item.item_variants.present? ? @item.item_variants.first.item_image : 'sample_item.jpeg' %>
            </div>
          </div>
          <div class="col-sm-7">
            <%= form_for @cart, url: user_cart_path, method: :post, remote: true do |f| %>
                <div class="product-information"><!--/product-information-->
                  <h2><%= @item.name %></h2>

                  <p><%= @item.description %></p>

                  <div class="item_variant_container">
                    <%= f.select :item_variant_id, options_for_select(@item.item_variants.collect { |x| [x.properties_string, x.id] }),
                                 class: 'item_variant_selection' %>
                  </div>
                  <div class="item_actions_container">
                    <span>
                      <%= f.number_field :quantity, value: 1 %>
                      <%= button_tag(class: "btn btn-fefault cart") do %>
                            <i class="fa fa-shopping-cart"></i>Add to cart
                      <% end %>
                      <%= link_to show_user_cart_path, class: "btn btn-fefault cart" do %>
                          <i class="fa fa-shopping-cart"></i>
                              Go to cart
                      <% end %>
                    </span>
                  </div>
                  <p><b>Availability:</b> In Stock</p>

                  <p><b>Condition:</b> New</p>

                  <p><b>Brand:</b> Demo Application</p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
    .item_variant_container {
        margin-top: 15px;
    }
</style>