<section class="item_show_section">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-3">-->
      <!--<div class="left-sidebar">-->
      <!--<div class="panel-group category-products" id="accordian">-->
      <%#= render partial: 'categories/categories' %>
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-sm-12 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="item_frame">
              <div class="view-product">
                <%= image_tag @item.images.present? ? @item.images.first.avatar.url : 'sample_item.jpg', id: 'item_show' %>
              </div>
            </div>
            <div class="item_showcase">
              <% @item.images.each do |image| %>
                  <%= image_tag image.avatar.url(:original) %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <%= form_for @cart, url: user_cart_path(item_id: @item.id), method: :post, remote: true do |f| %>
                <div class="product-information"><!--/product-information-->
                  <h2><%= @item.name %></h2>

                  <p><%= @item.short_description %></p>

                  <div class="item_variant_container">
                    <div class="item_variant_container color_container">
                      <%= render partial: 'items/color_selection',
                                 locals: {options: @item.item_variants.collect { |x| [x.color.name.capitalize, x.color.id] }.uniq} %>
                    </div>
                    <div class="item_variant_container size_container">
                      <%= render partial: 'items/size_selection',
                                 locals: {options: []} %>
                    </div>
                  </div>
                  <div class="item_actions_container">
                    <span>
                      <span>GBP <%= ItemPricing.item_price(@item, current_user).price %></span>
                      <%= f.label :quantity %>
                      <%= f.number_field :quantity, value: 1, min: 1 %>
                      <%= button_tag(class: "btn btn-fefault cart") do %>
                            <i class="fa fa-plus" aria-hidden="true"></i>Add to cart
                      <% end %>
                      <%= link_to show_user_cart_path, class: "btn btn-fefault cart" do %>
                          <i class="fa fa-shopping-cart"></i>
                              Go to cart
                      <% end %>
                    </span>
                  </div>
                  <p class="item_variant_material">
                    <b>Material:</b> <%= @item.item_variants.first.material.name.capitalize if @item.item_variants.first.material %>
                  </p>

                  <p class="item_variant_brand"><b>Brand:</b>
                    <span><%= @item.item_variants.first.brand.name.capitalize if @item.item_variants.first.brand %></span>
                  </p>

                  <p><b>Category:</b><%= @item.category.name %>(<%= @item.category.root_category.name %>)</p>

                  <p><%= @item.description %></p>

                  <p class="special_note"><b>* Item can be prepared and provided for the custom sizes requested.</b></p>
                </div>
            <% end %>
            <%#= social_share_button_tag(@item.name,
                                        :image => @item.item_variants.first.item_image,
                                        desc: @item.description) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

</style>
<script>
    $('#item_show').elevateZoom({tint: true, tintColour: '#F90', tintOpacity: 0.5});
    $('.selections').on('change', function () {
        $.ajax({
            url: '<%= item_variant_selection_path(@item) %>?color=' + $('.color_selection').val(),
            dataType: 'script',
            method: 'POST'
        });
    });

    $('.item_showcase').find('img').on('click', function () {
        $('.view-product').find('img').attr('src', $(this).attr('src'));
        $('#item_show').elevateZoom({tint: true, tintColour: '#F90', tintOpacity: 0.5});
    });
</script>

<style>
    .item_showcase {
        margin-top: 20px;
        max-width: 400px;
    }

    .item_showcase img {
        cursor: pointer;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        height: 50px;
        width: 50px;
        display: inline-block;
    }
</style>